
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.dogDetailContainer {
    padding: 2rem;
    border: 1px solid var(--gray-300);
    border-radius: var(--rounded-lg);
    background-color: white;
}

.dogDetailContainer h1 {
    color: var(--gray-900);
    margin-bottom: 0.5rem;
}

.detailCardContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
}

.dogDetailContainer img {
    width: 100%;
    border-radius: var(--rounded-lg);
}

.temperamentList {
    display: flex;
    margin: 1rem 0;
}
.temperamentList li {
    list-style: none;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--gray-300);
    background-color: var(--gray-50);
    font-size: var(--font-xs);
    line-height: var(--line-xs);
    margin-right: 0.5rem;
    border-radius: var(--rounded);
}