
.container {
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
    padding: 4rem;
    position: relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.header {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
}

.title {
    font-size: 5rem;
    color: white;
    margin: 0;
}

.exploreLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.exploreLink:hover {
    text-decoration: underline;
}

.exploreLink span {
    margin-right: 0.5rem;
}
