.container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.formContainer {
    border: 1px solid var(--gray-300);
    padding: 1rem;
    background-color: white;
}

.formContainer>div {
    margin-bottom: 1rem;
}

.header {
    margin-bottom: 1rem;
    color: var(--gray-900);
    font-size: var(--font-2xl);
    line-height: var(--line-2xl);
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0px;
}

.temperamentsList {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.temperamentsList>li {
    margin-bottom: 0.5rem;
}

.error {
    color: var(--red-600);
    font-size: var(--font-sm);
    line-height: var(--line-sm);
    margin-top: 0.25rem;
}

.temperament {
    list-style: none;
    border: 1px solid var(--gray-300);
    border-radius: var(--rounded);
    padding: 0.15rem 0.5rem;
    background-color: var(--gray-100);
    margin-right: 0.25rem;
    display: inline-flex;
    align-items: center;
}

.temperament span {
    font-size: var(--font-sm);
    line-height: var(--line-sm);
    margin-right: 1rem;
}

.temperament button {
    background-color: var(--gray-100);
    border: none;
}

.temperament button svg {
    height: var(--font-sm);
}

.backBtnContainer {
    margin: 1rem;
}

.successMsg {
    background-color: var(--blue-100);
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--blue-600);
    border-radius: var(--rounded);
    font-size: var(--font-sm);
    line-height: var(--line-sm);
    font-weight: 500;
    color: var(--gray-900);
}

@media (min-width: 800px) {
    .backBtnContainer {
        margin: 2rem 0;
    }

    .formContainer {
        border-radius: var(--rounded-md);
        padding: 2rem;
    }

    .header {
        margin-bottom: 1rem;
        font-size: var(--font-3xl);
        line-height: var(--line-3xl);
    }
}