.container {
    display: flex;
    padding: 0.8rem;
    background-color: white;
    border-bottom: 1px solid var(--gray-300);
}

.breedImage {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.infoContainer h1 {
    color: var(--gray-900);
    font-size: var(--font-lg);
    line-height: var(--line-lg);
    margin-bottom: 0.5rem;
}

.infoContainer>p {
    font-size: var(--font-sm);
    line-height: var(--line-sm);
}

.goBtn {
    composes: btnSm from "../styles/Components.module.css";
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.goBtn span {
    margin-right: 0.25rem;
}

.heading {
    text-decoration: none;
}

.heading h1:hover {
    color: var(--blue-700);
    text-decoration: underline;
}

@media (min-width: 800px) {
    .breedImage {
        width: 150px;
        height: 150px;
    }

    .container {
        border-radius: var(--rounded-md);
        margin-bottom: 1rem;
        border: 1px solid var(--gray-300);
    }

    .infoContainer h1 {
        font-size: var(--font-2xl);
        line-height: var(--font-2xl);
    }

    .infoContainer>p {
        font-size: var(--font-base);
        line-height: var(--line-base);
    }
}