
.container {
    border-bottom: 1px solid var(--gray-300);
    background-color: white;
}

.innerContainer {
    display:  flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.innerContainer > div:last-child {
    width: 100%;
}

.leftContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.navItems {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 1rem;
}

.navItems li {
    margin: 0 0.5rem;
}

.navItems li a {
    text-decoration: none;
    color: var(--gray-600);
    font-weight: 500;
}

@media (min-width: 800px) {
    .innerContainer {
        flex-direction: row;
    }

    .leftContainer {
        margin-bottom: 0;
    }
}