
.searchForm {
    display: flex;
}

.formInput {
    composes: formInput from "../styles/Components.module.css";
    margin-right: 0.25rem;
    width: 100%;     
}

.btnSm {
    composes: btnSm from "../styles/Components.module.css";
}