.btnGroup button {
    padding: 0.5rem 1rem;
    font-size: var(--font-sm);
    line-height: var(--line-sm);
    color: var(--gray-900);
    background-color: white;
    border: 1px solid var(--gray-200);
    border-left: none;
    font-weight: 500;
    cursor: pointer;
}

.btnGroup button:first-child {
    border-radius: var(--rounded) 0 0 var(--rounded);
    border-left: 1px solid var(--gray-200);
}

.btnGroup button:last-child {
    border-radius: 0 var(--rounded) var(--rounded) 0;
}

.btnGroup button:hover {
    background-color: var(--gray-100);
    color: var(--blue-700);
}

.btnGroup button.active {
    background-color: var(--gray-100);
    color: var(--blue-700);
    pointer-events: none;
}