

.formInput {
    componses: textSm from "./Utilities.module.css";
    background-color: var(--gray-50);
    border: 1px solid var(--gray-300);
    color: var(--gray-900);
    border-radius: var(--rounded);
    padding: 0.5rem 0.75rem; 
    width: 100%;
}

.formInput:focus {
    border-color: var(--blue-500);   
    outline: 1px solid var(--blue-500);
}

.formLabel {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--gray-900);
}

.btn {
    color: white;
    background-color: var(--blue-700);
    font-weight: 600;
    border-radius: var(--rounded);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem; 
    text-align: center;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--blue-800);
}
.btn:disabled {
    background-color: var(--blue-500);

}

.btnSm {
    composes: btn;
    componses: textSm from "./Utilities.module.css";
    padding: 0.5rem 0.75rem; 
    text-align: center;
}

.select {
    componses: textBase from "./Utilities.module.css";
    padding: 0.5rem 0.75rem; 
    color: var(--gray-900);
    background-color: var(--gray-50);
    border: 1px solid var(--gray-300);
    border-radius: var(--rounded);
    appearance: none;

    /* Chevron */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
}

.select:focus {
    outline: 2px solid var(--blue-500);
}