.flex {
    display: flex;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.textXs {
    font-size: var(--font-xs);
    line-height: var(--line-xs);
}

.textSm {
    font-size: var(--font-sm);
    line-height: var(--line-sm);
}

.textBase {
    font-size: 1rem;
    line-height: 1.5rem;
}

.textLg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.textXl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text5xl {
    font-size: 3rem;
    line-height: 1;
}